  #stage {
    position: relative;
  }

  canvas {
    position: absolute;
  }

  #grid-layer {
    z-index: 2
  }

  #background-layer {
    z-index: 1
  }


::-webkit-scrollbar { 
    display: none; 
}

html {
    overflow: scroll;
    overflow-x: hidden;
}