.sidenav-container {
  height: 100%;
}

.sidenav-card {
  max-width: 100%;
  margin-bottom: 10px
}

mat-slider {
  width: 100%;
}

mat-drawer {
  width: 25vw
}

.header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.matInput {
  align-content: center;
  width: 100%;
}

.matCheckbox {
  align-content: center;
}

#toggleButtonDiv {
  right: 25px;
  top: 10px;
}

.onTop {
  z-index: 4;
  position: absolute;
}

.center {
  width:100%;
  text-align:center;
  align-content: center;
}

.sidebarImage {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}