<mat-drawer-container class="sidenav-container" mode="over">
  <mat-drawer #sideNav mode="side" opened="{{ opened }}" position="end">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Objects </mat-panel-title>
        </mat-expansion-panel-header>


        <mat-card class="sidenav-card" *ngFor="let object of objects.objects">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{object.name}}</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <img class="sidebarImage" mat-card-image src={{object.url}} alt="Photo of a Shiba Inu" />
          <mat-card-content>
          </mat-card-content>
          <mat-card-actions>
            <div class="center">
              <button mat-button (click)="addImageToCanvas(object)">Add</button>
            </div>
          </mat-card-actions>
        </mat-card>

      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Backgrounds </mat-panel-title>
        </mat-expansion-panel-header>


        <mat-card class="sidenav-card" *ngFor="let object of objects.backgrounds">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{object.name}}</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <img class="sidebarImage" mat-card-image src={{object.url}} alt="Photo of a Shiba Inu" />
          <mat-card-content>
          </mat-card-content>
          <mat-card-actions>
            <div class="center">
              <button mat-button (click)="setCanvasBackground(object)">Add</button>
            </div>
          </mat-card-actions>
        </mat-card>

      </mat-expansion-panel>


      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Grid Options </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Grid Size</p>
        <mat-slider class="example-margin" [max]="gridSizeMax" [min]="gridSizeMin" [step]="gridSizeStep" [(ngModel)]="gridSizeValue"
          [disabled]="gridSizeDisabled" (ngModelChange)="gridValueOnChange()">
        </mat-slider>
        <mat-grid-list cols="2" rowHeight="100px">
          <mat-grid-tile>
            <mat-form-field class="matInput">
              <input matInput type="number" placeholder="Pixels" [(ngModel)]="gridSizeValue" [max]="gridSizeMax" [min]="gridSizeMin"
                [disabled]="gridSizeDisabled" (ngModelChange)="gridValueOnChange()" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-checkbox class="matCheckbox" [(ngModel)]="gridSizeDisabled">Disabled</mat-checkbox>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-divider></mat-divider>

        <p>Grid Position</p>
        <mat-grid-list cols="2" rowHeight="100px">
          <mat-grid-tile>
            <mat-form-field class="matInput">
              <input matInput type="number" placeholder="X" [(ngModel)]="gridPositionX" [disabled]="disabled"
                (ngModelChange)="gridPositionOnChange()" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="matInput">
              <input matInput type="number" placeholder="Y" [(ngModel)]="gridPositionY" [disabled]="disabled"
                (ngModelChange)="gridPositionOnChange()" /></mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>

  <mat-drawer-content>
    <div id="toggleButtonDiv" class="onTop">
      <button id="toggleButton" mat-mini-fab color="primary" (click)="buttonMenuToggle()">
        <i class="material-icons"> menu </i>
      </button>
    </div>

    <app-gameboard></app-gameboard>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>