.toolbar-container {
    min-height:5vh;
}

.sidenav-container {
    height: 90vh;
}

.sidenav-card {

  max-width: 10vw;

}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}