<mat-drawer-container class="sidenav-container" mode="over">
  <mat-drawer #sideNav mode="side" opened={{opened}} position="end">
    <mat-accordion>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Example Title
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-card class="sidenav-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Grid Options
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Grid Size</p>
        <mat-slider class="example-margin" [max]="gridSizeMax" [min]="gridSizeMin" [step]="gridSizeStep" [(ngModel)]="gridSizeValue"
          [disabled]="gridSizeDisabled" (ngModelChange)="gridValueOnChange()">
        </mat-slider>
        <mat-grid-list cols="2" rowHeight="100px">
          <mat-grid-tile>
            <mat-form-field class="matInput">
              <input matInput type="number" placeholder="Pixels" [(ngModel)]="gridSizeValue" [max]="gridSizeMax" [min]="gridSizeMin"
                [disabled]="gridSizeDisabled" (ngModelChange)="gridValueOnChange()">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-checkbox class="matCheckbox" [(ngModel)]="gridSizeDisabled">Disabled</mat-checkbox>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-divider></mat-divider>

        <p>Grid Position</p>
        <mat-grid-list cols="2" rowHeight="100px">
          <mat-grid-tile>
            <mat-form-field class="matInput">
              <input matInput type="number" placeholder="X" [(ngModel)]="gridPositionX" [disabled]="disabled"
                (ngModelChange)="gridPositionOnChange()">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field class="matInput">
              <input matInput type="number" placeholder="Y" [(ngModel)]="gridPositionY" [disabled]="disabled"
                (ngModelChange)="gridPositionOnChange()"></mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>




      </mat-expansion-panel>

    </mat-accordion>
  </mat-drawer>
  <mat-drawer-content>
    <app-gameboard></app-gameboard>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>