.sidenav-container {
    height: 100%;
}

.sidenav-card {
  max-width: 20vw;
}

mat-slider {
  width: 100%;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.matInput{
  align-content: center;
  width: 100%
}

.matCheckbox {
align-content: center;
}